.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero img {
  margin-top: 40px;
  height: 220px;
  width: auto;
  border-radius: 150px;
}
.hero h1 {
  text-align: center;
  width: 50%;
  font-size: 40px;
  font-weight: 600;
}
.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  text-align: center;
  width: 60%;
  font-size: 22px;
  line-height: 36px;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 15px 25px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.hero-resume {
  padding: 15px 55px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.hero-connect:hover {
  border: 2px solid #fff;
}
.hero-resume:hover {
  border-color: #b415ff;
}

@media (max-width: 768px) {
  .hero img {
    margin-bottom: 50px;
  }
  .hero h1 {
    width: 90%;
    font-size: 30px;
  }
  .hero p {
    width: 70%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .hero-connect {
    padding: 10px 20px;
    border-radius: 30px;
  }
  .hero-resume {
    padding: 10px 45px;
    border-radius: 30px;
  }
}
