.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin: 40px 90px;
}
.about-title {
  position: relative;
}
.about-title h1 {
  font-size: 40px;
  font-weight: 600;
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-sections {
  display: flex;
  gap: 40px;
}
.about-left img {
  height: 356px;
  width: auto;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-para {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  gap: 20px;
}
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  align-items: center;
  gap: 50px;
}
.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-acheivements {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 80px;
}
.about-acheivement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}
.about-acheivement:hover {
  transform: scale(1.15);
  transition: 0.5s;
}
.about-acheivement h1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-acheivement p {
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .about {
    gap: 30px;
    margin: 30px 60px;
    align-items: start;
  }
  .about-title h1 {
    font-size: 32px;
  }
  .about-title img {
    width: 60px;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 18px;
    line-height: 32px;
  }
  .about-skill {
    gap: 20px;
    align-items: center;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    height: 5px;
  }
  .about-acheivements {
    justify-content: space-between;
  }
  .about-acheivement {
    gap: 10px;
  }
  .about-acheivement h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .about-acheivement p {
    text-align: center;
    font-size: 15px;
  }
}
