.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.logo {
  height: 55px;
  width: auto;
  border-radius: 40px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  margin: auto;
}

.nav-connect {
  padding: 7px 24px 10px 24px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.anchor-link,
.nav-menu li p {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-mob-open,
.nav-mob-close {
  display: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 40px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: absolute;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -350px;
    flex-direction: column;
    align-items: start;
    padding-top: 100px;
    gap: 30px;
    background-color: #1f0016;
    width: 300px;
    height: 100%;
    z-index: 9;
    transition: right 0.5s ease;
  }

  .nav-menu li {
    font-size: 26px;
    padding-left: 40px;
    flex-direction: row;
    gap: 15px;
  }
}
