.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-left img {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.footer-top-left p {
  padding-top: 30px;
  font-size: 20px;
  max-width: 400px;
}
.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
}
.footer-email-input:hover {
  border: 2px solid white;
}
.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 18px;
}
.footer-email-input img {
  height: 30px;
  width: 30px;
}
.footer-subscribe {
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 50px;
  background: linear-gradient(267deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  transition: 0.3s;
}
.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }
  .footer-top {
    flex-direction: column;
    gap: 50px;
  }
  .footer-email-input {
    padding: 10px 16px;
  }
  .footer-subscribe {
    font-size: 18px;
    padding: 14px 25px;
    border-radius: 50px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
}
